In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Loading data from csv files.

df_cp = pd.read_csv('state_wise_agricultural_products.csv')
df_lu = pd.read_csv('state_wise_agricultural_landuse.csv')

In [5]:
df_cp.drop(columns=['Crop', 'Season', 'District_Name'], axis=1, inplace=True)
df_cp.head(10)

                    State_Name  Crop_Year     Area  Production
0  Andaman and Nicobar Islands       2000   1254.0      2000.0
1  Andaman and Nicobar Islands       2000      2.0         1.0
2  Andaman and Nicobar Islands       2000    102.0       321.0
3  Andaman and Nicobar Islands       2000    176.0       641.0
4  Andaman and Nicobar Islands       2000    720.0       165.0
5  Andaman and Nicobar Islands       2000  18168.0  65100000.0
6  Andaman and Nicobar Islands       2000     36.0       100.0
7  Andaman and Nicobar Islands       2000      1.0         2.0
8  Andaman and Nicobar Islands       2000      5.0        15.0
9  Andaman and Nicobar Islands       2000     40.0       169.0

In [6]:
df_lu['Year-(Col.2)'] = df_lu['Year-(Col.2)'].str[0:2] + df_lu['Year-(Col.2)'].str[5:7]
df_lu.rename(columns = {'State/ UT Name (Col.1)':'state', 'Year-(Col.2)':'year'}, inplace = True)
df_lu = df_lu.astype({'year': int})
df_lu

,state,year,Geogra-phical Area-(Col.3),Reporting area for land utilisationstatistics (col.4+7+11+14+15)-(Col.4),Forests-(Col.5),Not available for cultivation-Area under non-agri-cultural uses-(Col.6),Not available for cultivation-Barren & uncultur-able land-(Col.7),Not available for cultivation-Total (Col.6+Col.7)-(Col8),Other uncultivated land excluding-Fallow Land-Permanent pastures & other grazing lands-(Col.9),Other uncultivated land excluding-Fallow Land-Land under misc. tree crops & groves (not incl. in net area sown)-(Col.10),...,Fallow Lands-Fallow lands other than current fallows-(Col.13),Fallow Lands-Current fallows-(Col.14),Fallow Lands-Total(Col.13+Col.14)-(Col.15),Net area Sown-(Col.16),Total Cropped Area-(Col.17),Area sown more than once (col.17-Col.16)-(Col.18),Agri. Land/Culti-vable land/Cultur-able land/Arable land (Col.10+Col.11+Col.12+Col.13)-(Col.19),Cultivated land (Col.14+Col.15)-(Col.20),Un-cultivable land (Col.4-Col.18)-(Col.21),Un-cultivated land (Col.4-Col.20)-(Col.22)
0,Andhra Pradesh,2004,27507,27440,6199.0,2692,2084.0,4775,676.0,277.0,...,1658.0,3036.0,4693.0,10118,12366,2248.0,15789,13154,11651,14286
1,Andhra Pradesh,2005,27507,27440,6199.0,2712,2084.0,4796,676.0,278.0,...,1651.0,2819.0,4469.0,10327,12519,2191.0,15769,13146,11671,14294
2,Andhra Pradesh,2006,27507,27440,6199.0,2709,2084.0,4793,676.0,278.0,...,1623.0,2434.0,4057.0,10745,13362,2617.0,15772,13179,11668,14261
3,Andhra Pradesh,2007,27507,27505,6210.0,2683,2098.0,4781,602.0,320.0,...,1583.0,3166.0,4749.0,10147,12811,2664.0,15911,13313,11593,14191
4,Andhra Pradesh,2008,27507,27505,6210.0,2725,2059.0,4784,571.0,306.0,...,1500.0,2719.0,4219.0,10756,13567,2811.0,15939,13475,11565,14030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,Puducherry,2010,48,49,NaN,18,0.0,19,NaN,1.0,...,3.0,3.0,6.0,19,32,13.0,30,22,19,27
382,Puducherry,2011,48,49,NaN,19,0.0,19,NaN,1.0,...,2.0,3.0,6.0,19,31,13.0,30,22,19,27
383,Puducherry,2012,48,49,0.0,18,0.0,18,NaN,1.0,...,2.0,4.0,6.0,18,27,9.0,30,22,19,27
384,Puducherry,2013,48,49,0.0,19,0.0,19,NaN,1.0,...,2.0,5.0,8.0,16,26,10.0,30,21,19,27
385,Puducherry,2014,48,49,0.0,19,0.0,19,NaN,1.0,...,3.0,6.0,8.0,15,25,10.0,30,21,19,27

In [7]:
# Annual crop production for each state.

states = df_cp['State_Name'].value_counts().index
years = df_cp['Crop_Year'].value_counts().index

df_cp_mod = pd.DataFrame(columns = ['year', 'state', 'production'])

# Creating dataset for total crop production
for y in years:
    for s in states:
        #print(s)
        #print(y)
        p = df_cp[(df_cp['State_Name']==s) & (df_cp['Crop_Year']==y)]['Production'].sum().round(4)
        df_cp_mod.loc[len(df_cp_mod.index)] = [y, s, p]

df_cp_mod

     year                        state    production
0    2003                Uttar Pradesh  1.725973e+08
1    2003               Madhya Pradesh  2.608519e+07
2    2003                    Karnataka  2.813387e+07
3    2003                        Bihar  1.898583e+07
4    2003                        Assam  1.618438e+08
..    ...                          ...           ...
622  2015                       Sikkim  1.034160e+05
623  2015       Dadra and Nagar Haveli  0.000000e+00
624  2015                          Goa  0.000000e+00
625  2015  Andaman and Nicobar Islands  0.000000e+00
626  2015                   Chandigarh  0.000000e+00

[627 rows x 3 columns]

In [8]:
# Integrating landuse and crop production dataset.

df = pd.merge(df_lu, df_cp_mod, how='inner', on=['state', 'year'])
df

,state,year,Geogra-phical Area-(Col.3),Reporting area for land utilisationstatistics (col.4+7+11+14+15)-(Col.4),Forests-(Col.5),Not available for cultivation-Area under non-agri-cultural uses-(Col.6),Not available for cultivation-Barren & uncultur-able land-(Col.7),Not available for cultivation-Total (Col.6+Col.7)-(Col8),Other uncultivated land excluding-Fallow Land-Permanent pastures & other grazing lands-(Col.9),Other uncultivated land excluding-Fallow Land-Land under misc. tree crops & groves (not incl. in net area sown)-(Col.10),...,Fallow Lands-Current fallows-(Col.14),Fallow Lands-Total(Col.13+Col.14)-(Col.15),Net area Sown-(Col.16),Total Cropped Area-(Col.17),Area sown more than once (col.17-Col.16)-(Col.18),Agri. Land/Culti-vable land/Cultur-able land/Arable land (Col.10+Col.11+Col.12+Col.13)-(Col.19),Cultivated land (Col.14+Col.15)-(Col.20),Un-cultivable land (Col.4-Col.18)-(Col.21),Un-cultivated land (Col.4-Col.20)-(Col.22),production
0,Andhra Pradesh,2004,27507,27440,6199.0,2692,2084.0,4775,676.0,277.0,...,3036.0,4693.0,10118,12366,2248.0,15789,13154,11651,14286,1.214759e+09
1,Andhra Pradesh,2005,27507,27440,6199.0,2712,2084.0,4796,676.0,278.0,...,2819.0,4469.0,10327,12519,2191.0,15769,13146,11671,14294,9.107880e+08
2,Andhra Pradesh,2006,27507,27440,6199.0,2709,2084.0,4793,676.0,278.0,...,2434.0,4057.0,10745,13362,2617.0,15772,13179,11668,14261,1.346439e+09
3,Andhra Pradesh,2007,27507,27505,6210.0,2683,2098.0,4781,602.0,320.0,...,3166.0,4749.0,10147,12811,2664.0,15911,13313,11593,14191,3.200800e+07
4,Andhra Pradesh,2008,27507,27505,6210.0,2725,2059.0,4784,571.0,306.0,...,2719.0,4219.0,10756,13567,2811.0,15939,13475,11565,14030,9.921911e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,Puducherry,2010,48,49,NaN,18,0.0,19,NaN,1.0,...,3.0,6.0,19,32,13.0,30,22,19,27,2.481013e+07
315,Puducherry,2011,48,49,NaN,19,0.0,19,NaN,1.0,...,3.0,6.0,19,31,13.0,30,22,19,27,1.765530e+07
316,Puducherry,2012,48,49,0.0,18,0.0,18,NaN,1.0,...,4.0,6.0,18,27,9.0,30,22,19,27,2.068766e+07
317,Puducherry,2013,48,49,0.0,19,0.0,19,NaN,1.0,...,5.0,8.0,16,26,10.0,30,21,19,27,1.701896e+07
318,Puducherry,2014,48,49,0.0,19,0.0,19,NaN,1.0,...,6.0,8.0,15,25,10.0,30,21,19,27,2.559034e+07

In [9]:
df.to_csv('merged.csv', index=False)